JiraPlugins/atlassian-jira-4.4.3-source/atlassian-spring/src/main/resources/com/atlassian/spring/extension/atlassian.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.atlassian.com/schema/atlassian-spring"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"
         targetNamespace="http://www.atlassian.com/schema/atlassian-spring"
         elementFormDefault="qualified"
         attributeFormDefault="unqualified">

   <xsd:element name="registration">
      <xsd:complexType>
          <xsd:attribute name="target" type="xsd:string" use="required"/>
          <xsd:attribute name="key" type="xsd:string" use="required"/>
          <xsd:attribute name="registrationMethod" type="xsd:string" use="required"/>
      </xsd:complexType>
   </xsd:element>

</xsd:schema>